<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head")%>
  <body>
    <%-include("./partials/header")%>
    <table
      width="800"
      border="0"
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="main"
    >
      <tr>
        <td></td>
      </tr>
      <tr>
        <td>
          <table width="760" border="0" cellspacing="10" cellpadding="0">
            <tr>
              <td colspan="2"><h2>About Me</h2></td>
            </tr>
            <tr>
              <td><img src="img/personalImage.jpg" width="300px" /></td>
              <td>
                <table>
                  <tr>
                    <td>Name:</td>
                    <td>Xingjian REN</td>
                  </tr>
                  <tr>
                    <td><hr style="border-style: hidden" /></td>
                  </tr>
                  <tr>
                    <td>Introduction:</td>
                    <td style="text-align: left">
                      &nbsp &nbsp My name is Xingjian REN. I'm An international
                      student at Centennial College majored in Software
                      Engineering Technician. I was born and raised in Hubei,
                      china.<br />
                      &nbsp &nbsp I love music, movies and delicacy. I have
                      completed my undergraduate studies in economics in
                      Zhejiang, China<br />
                      &nbsp &nbsp I am a positive and optimistic person, full of
                      interest in computers and programming, willing to
                      understand and learn new things and new knowledge.
                    </td>
                  </tr>
                  <tr>
                    <td><hr style="border-style: hidden" /></td>
                  </tr>
                  <tr>
                    <td>Resume:</td>
                    <td><a href="img/resume.jpg">Click Here</a></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
    <%-include("./partials/footer")%>
  </body>
</html>
