<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head")%>
  <body>
    <%-include("./partials/header")%>
    <table
      width="800"
      border="0"
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="main"
    >
      <tr>
        <td></td>
      </tr>
      <tr>
        <td>
          <table width="760" border="0" cellspacing="10" cellpadding="0">
            <tr>
              <td><h2>Business Contacts List Detail View HomePage</h2></td>
            </tr>
            <tr>
              <td>Welcome to my Personal HomePage</td>
            </tr>
            <tr></tr>
            <tr>
              <div><%-include("./partials/update")%></div>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
    <%-include("./partials/footer")%>
  </body>
</html>
