<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head")%>
  <body>
    <%-include("./partials/header")%>
    <table
      width="800"
      border="0"
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="main"
    >
      <tr>
        <td></td>
      </tr>
      <tr>
        <td>
          <table width="760" border="0" cellspacing="10" cellpadding="0">
            <tr>
              <td colspan="2"><h2>Projects</h2></td>
            </tr>
            <tr>
              <td><img src="img/project1.png" height="150px" /></td>
              <td>
                <strong>Vehicle Management System</strong><br />
                Simpmle Vehicle Management System using C#. <br />
                Data save as the xml form. Providing CRUD operation.<br />
                Role: Design & Implentation
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <br />
                <hr style="border-style: solid" />
                <br />
              </td>
            </tr>
            <tr>
              <td>
                <strong>Static Web</strong><br />
                Simpmle static Web using HTML, CSS and Javascript <br />
                function: BMI calculator, images display, bug game and so on<br />
                Role: Design & Implentation
              </td>
              <td><img src="img/project2.png" height="150px" /></td>
            </tr>
            <tr>
              <td colspan="2">
                <br />
                <hr style="border-style: solid" />
                <br />
              </td>
            </tr>
            <tr>
              <td><img src="img/project3.png" height="150px" /></td>
              <td>
                <strong>Keep going</strong><br />
                Continue learning about OOP languages and other computing
                content
                <br />
                Role: learner
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
    <%-include("./partials/footer")%>
  </body>
</html>
