<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head")%>
  <body>
    <%-include("./partials/header")%>
    <table
      width="800"
      border="0"
      align="center"
      cellpadding="0"
      cellspacing="0"
      class="main"
    >
      <tr>
        <td></td>
      </tr>
      <tr>
        <td>
          <table width="760" border="0" cellspacing="10" cellpadding="0">
            <tr>
              <td><h2>Update View HomePage</h2></td>
            </tr>
            <tr>
              <td>Welcome to my Personal HomePage</td>
            </tr>
            <tr>
              <td>This is an online presentation</td>
            </tr>
            <tr></tr>
            <tr>
              <td>Click <a href="/AboutMe">HERE</a> to know more about</td>
            </tr>
            <tr>
              <tr>
                <td><hr style="border-style: hidden" /></td>
              </tr>
              <tr>
                <td><hr style="border-style: hidden" /></td>
              </tr>
              <td><strong>Mission Statement</strong></td>
            </tr>
            <tr>
              <td>
                An international student in Centennial College majored in
                Software Engineering Technician
              </td>
            </tr>
            <tr>
              <td>
                I'm willing to know, recognize and learn new things and new
                knowledge
              </td>
            </tr>
            <tr>
              <td>Could work anywhere.</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
    <%-include("./partials/footer")%>
  </body>
</html>
