@charset "utf-8";
/* A1_XingjianREN_301231054_2022/10/07 */
body {
  background-image: linear-gradient(to bottom right, #93ce9f, #e9eeae);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 26px;
  color: #333;
}
.nav {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #738caa;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}
.main {
  background-image: url(../img/background.png);
  color: #000;
  position: relative;
}
a {
  font-size: 14px;
}
a:link {
  color: #333;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #333;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
a:active {
  text-decoration: none;
  color: #333;
}
.title {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #200f15;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #200f15;
  padding-left: 10px;
  color: #ad5a5a;
}
td {
  text-align: center;
}
footer {
  padding-top: 20%;
  margin-bottom: 10%;
}
fieldset {
  box-shadow: 5px 5px 5px rgb(37, 37, 37);
}
legend {
  font-weight: bold;
  text-align: left;
}
button {
  margin-left: auto;
  margin-right: auto;
}
.show {
  display: inherit;
  text-align: center;
}
.notshow {
  display: none;
}
.show .buttonDelete {
  display: inline;
}
